<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  	<extension
	         point="org.eclipse.ui.popupMenus">
	      <objectContribution
	            adaptable="true"
	            id="QwalKeko.addNatureIProjectContribution"
	            nameFilter="*"
	            objectClass="org.eclipse.core.resources.IProject">
	         
	      <action
	           class="qwalkeko.ToggleHistoryNatureAction"
	           id="QwalKeko.AddNatureAction"
	           label="Add History Nature"
	            menubarPath="org.eclipse.ui.projectConfigure/additions">
	      </action>
	
	
	       <visibility>
	          <not><objectState name="nature" value="qwalkeko.historyNature" /></not>
	       </visibility>
	
	      </objectContribution>
	      
	       <objectContribution
	            adaptable="true"
	            id="QwalKeko.removeNatureIProjectContribution"
	            nameFilter="*"
	            objectClass="org.eclipse.core.resources.IProject">
	         <action
	               class="qwalkeko.ToggleHistoryNatureAction"
	               id="QwalKeko.RemoveNatureAction"
	               label="Remove History Nature"
	               menubarPath="org.eclipse.ui.projectConfigure/additions">
	         </action>
	
	       <visibility>
	          <objectState name="nature" value="qwalkeko.historyNature" />
	       </visibility>	
		</objectContribution>
   </extension>

	<extension
	         id="historyNature"
	         name="History Project Nature"
	         point="org.eclipse.core.resources.natures">
	      <runtime>
	         <run
	               class="qwalkeko.HistoryNature">
	         </run>
	      </runtime>
	      <builder
	      	id="qwalkeko.historyBuilder" >
	      </builder>
	</extension>
	
	 <extension
      point="org.eclipse.core.resources.natures"
      id="qwalkekoNature"
      name="Qwalkeko Nature">
      <runtime>
         <run class="qwalkeko.QwalkekoNature">
         </run>
      </runtime>
   </extension>
	
	<extension
         id="historyBuilder"
         name="History Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="qwalkeko.HistoryBuilder">
         </run></builder>
   </extension>
 <extension
       point="ekeko.projectModelFactory">
    <contributedFactory
          factory="qwalkeko.HistoryProjectModelFactory">
    </contributedFactory>
 </extension>
 <extension
       point="ekeko.projectModelFactory">
    <contributedFactory
          factory="qwalkeko.QwalkekoProjectModelFactory">
    </contributedFactory>
 </extension>

</plugin>
