<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  	<extension
	         point="org.eclipse.ui.popupMenus">
	      <objectContribution
	            adaptable="true"
	            id="ScrapperPlugin.addNatureIProjectContribution"
	            nameFilter="*"
	            objectClass="org.eclipse.core.resources.IProject">
	         
	      <action
	           class="scrapperplugin.ToggleHistoryNatureAction"
	           id="ScrapperPlugin.AddNatureAction"
	           label="Add History Nature"
	            menubarPath="org.eclipse.ui.projectConfigure/additions">
	      </action>
	
	
	       <visibility>
	          <not><objectState name="nature" value="scrapperplugin.historyNature" /></not>
	       </visibility>
	
	      </objectContribution>
	      
	       <objectContribution
	            adaptable="true"
	            id="ScraperPlugin.removeNatureIProjectContribution"
	            nameFilter="*"
	            objectClass="org.eclipse.core.resources.IProject">
	         <action
	               class="scrapperplugin.ToggleHistoryNatureAction"
	               id="ScrapperPlugin.RemoveNatureAction"
	               label="Remove History Nature"
	               menubarPath="org.eclipse.ui.projectConfigure/additions">
	         </action>
	
	       <visibility>
	          <objectState name="nature" value="scrapperplugin.historyNature" />
	       </visibility>	
		</objectContribution>
   </extension>

	<extension
	         id="historyNature"
	         name="History Project Nature"
	         point="org.eclipse.core.resources.natures">
	      <runtime>
	         <run
	               class="scrapperplugin.HistoryNature">
	         </run>
	      </runtime>
	      <builder
	      	id="scrapperplugin.historyBuilder" >
	      </builder>
	</extension>
	
	<extension
         id="historyBuilder"
         name="History Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="scrapperplugin.HistoryBuilder">
         </run></builder>
   </extension>
 <extension
       point="ekeko.projectModelFactory">
    <contributedFactory
          factory="scrapperplugin.HistoryProjectModelFactory">
    </contributedFactory>
 </extension>

</plugin>
